img[data-cloudinary-lightbox] {
    cursor: zoom-in;
}

.cloudinary-lightbox-wrapper {
    display: none;
}

.cloudinary-lightbox-wrapper::before {
    content: "";
    display: none;
    background: rgba(0,0,0,0.33);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cloudinary-lightbox-wrapper[aria-modal=true] {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

.cloudinary-lightbox-wrapper[aria-modal=true]::before {
    display: block;
    z-index: 1;
}

.cloudinary-lightbox-wrapper[aria-modal=true] img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    position: relative;
    align-self: center;
    z-index: 2;
}

.cloudinary-lightbox-wrapper[aria-modal=true],
.cloudinary-lightbox-wrapper[aria-modal=true] img {
    cursor: zoom-out;
}